@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800&family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  margin-block: 0;
  padding: 0;
  padding-block: 0;
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999999999999;
  background-image: url("../assets/images/wall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: multiply;
  opacity: 0.2;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

a {
  all: unset;
}

html,
body {
  height: 100%;
  font-family: "Kanit", sans-serif;
  font-size: 12px;
  color: #0E0C03;
  scroll-behavior: smooth;
}

html {
  background-color: #c4c0af;
}

ul {
  list-style: none;
}
ul a {
  position: relative;
  cursor: pointer;
}
ul a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.2s;
  transform-origin: right;
  background-color: #0E0C03;
}
ul a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

body {
  margin: auto;
  max-width: 140rem;
}

h1 {
  font-size: 8rem;
  margin: 0;
  margin-block: 0;
  line-height: 0.96em;
}

h2 {
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 2px solid #0E0C03;
  font-size: 4rem;
  position: sticky;
  top: 0;
  background-color: #c4c0af;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
h2 small {
  font-weight: 400;
}

header {
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding-top: 30vh;
  align-items: end;
}
header h1 {
  margin-left: -5rem;
}
header h3 {
  font-weight: 400;
  font-size: 2rem;
  margin-top: 4rem;
  line-height: 1.5em;
}

nav {
  font-size: 2rem;
}

.image {
  min-height: 50vh;
  margin: 5rem 0;
}

#image_1 {
  background-image: linear-gradient(90deg, rgb(31, 26, 6) 0% 0.0625%, transparent 0.0625% 5%, rgb(31, 26, 6) 5% 5.1875%, transparent 5.1875% 10%, rgb(31, 26, 6) 10% 10.3125%, transparent 10.3125% 15%, rgb(31, 26, 6) 15% 15.4375%, transparent 15.4375% 20%, rgb(31, 26, 6) 20% 20.5625%, transparent 20.5625% 25%, rgb(31, 26, 6) 25% 25.6875%, transparent 25.6875% 30%, rgb(31, 26, 6) 30% 30.8125%, transparent 30.8125% 35%, rgb(31, 26, 6) 35% 35.9375%, transparent 35.9375% 40%, rgb(31, 26, 6) 40% 41.0625%, transparent 41.0625% 45%, rgb(31, 26, 6) 45% 46.1875%, transparent 46.1875% 50%, rgb(31, 26, 6) 50% 51.3125%, transparent 51.3125% 55%, rgb(31, 26, 6) 55% 56.4375%, transparent 56.4375% 60%, rgb(31, 26, 6) 60% 61.5625%, transparent 61.5625% 65%, rgb(31, 26, 6) 65% 66.6875%, transparent 66.6875% 70%, rgb(31, 26, 6) 70% 71.8125%, transparent 71.8125% 75%, rgb(31, 26, 6) 75% 76.9375%, transparent 76.9375% 80%, rgb(31, 26, 6) 80% 82.0625%, transparent 82.0625% 85%, rgb(31, 26, 6) 85% 87.1875%, transparent 87.1875% 90%, rgb(31, 26, 6) 90% 92.3125%, transparent 92.3125% 95%, rgb(31, 26, 6) 95% 97.4375%, transparent 97.4375% 100%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#image_1::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background-image: linear-gradient(90deg, transparent 0% 2.5%, rgb(31, 26, 6) 2.5% 2.625%, transparent 2.625% 7.5%, rgb(31, 26, 6) 7.5% 7.75%, transparent 7.75% 12.5%, rgb(31, 26, 6) 12.5% 12.875%, transparent 12.875% 17.5%, rgb(31, 26, 6) 17.5% 18%, transparent 18% 22.5%, rgb(31, 26, 6) 22.5% 23.125%, transparent 23.125% 27.5%, rgb(31, 26, 6) 27.5% 28.25%, transparent 28.25% 32.5%, rgb(31, 26, 6) 32.5% 33.375%, transparent 33.375% 37.5%, rgb(31, 26, 6) 37.5% 38.5%, transparent 38.5% 42.5%, rgb(31, 26, 6) 42.5% 43.625%, transparent 43.625% 47.5%, rgb(31, 26, 6) 47.5% 48.75%, transparent 48.75% 52.5%, rgb(31, 26, 6) 52.5% 53.875%, transparent 53.875% 57.5%, rgb(31, 26, 6) 57.5% 59%, transparent 59% 62.5%, rgb(31, 26, 6) 62.5% 64.125%, transparent 64.125% 67.5%, rgb(31, 26, 6) 67.5% 69.25%, transparent 69.25% 72.5%, rgb(31, 26, 6) 72.5% 74.375%, transparent 74.375% 77.5%, rgb(31, 26, 6) 77.5% 79.5%, transparent 79.5% 82.5%, rgb(31, 26, 6) 82.5% 84.625%, transparent 84.625% 87.5%, rgb(31, 26, 6) 87.5% 89.75%, transparent 89.75% 92.5%, rgb(31, 26, 6) 92.5% 94.875%, transparent 94.875% 97.5%, rgb(31, 26, 6) 97.5% 100%);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: 9;
}
#image_1 > div {
  position: absolute;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
#image_1:hover > div {
  opacity: 1;
}
#image_1 #i1_circle1 {
  height: 40vmin;
  width: 40vmin;
  border-radius: 100%;
  background-color: #0A8955;
  left: -20vmin;
  top: -20vmin;
  z-index: 1;
  transition: opacity 0.5s ease-out, translate 0.5s ease-out;
}
#image_1 #i1_circle2 {
  height: 30vmin;
  width: 30vmin;
  border-radius: 100%;
  background-color: #0e6d45;
  left: -15vmin;
  top: -15vmin;
  z-index: 2;
  transition: opacity 0.3s ease-out, translate 0.3s ease-out;
}
#image_1 #i1_circle3 {
  height: 20vmin;
  width: 20vmin;
  border-radius: 100%;
  background-color: #0d4b31;
  left: -10vmin;
  top: -10vmin;
  z-index: 3;
  transition: opacity 0.2s ease-out, translate 0.2s ease-out;
}
#image_1 #i1_circle4 {
  height: 10vmin;
  width: 10vmin;
  border-radius: 100%;
  background-color: #0a251a;
  left: -5vmin;
  top: -5vmin;
  z-index: 4;
  transition: opacity 0.1s ease-out, translate 0.1s ease-out;
}

p {
  font-size: 4rem;
}

ol {
  font-size: 4rem;
  list-style: none;
}
ol li {
  border-bottom: 1px solid #0E0C03;
}
ol a {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem 0;
  transition: opacity 0.3s;
  opacity: 0.5;
  cursor: pointer;
}
ol a:hover {
  opacity: 1;
}
ol a img {
  height: 1em;
  transform: rotate3d(-2, 0, 0, 0deg);
  transition: transform 0.3s;
}
ol a:hover img {
  transform: rotate3d(-2, 2, 0, -180deg);
}
ol small {
  font-size: 2rem;
  font-weight: 300;
}

#image_2 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}
#image_2 > div {
  background: rebeccapurple;
  aspect-ratio: 1;
  border-radius: 100% 1rem 1rem 1rem;
  transition: 0.2s ease-in-out;
}/*# sourceMappingURL=main.css.map */